{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="section-title">EXPERIENCE</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div>
            {% if exp.technologies_used %}
            <div class="technologies"><strong>Technologies Used:</strong> {{exp.technologies_used}}</div>
            {% endif %}
            <div class="details">{{exp.details}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
